<main class="w-full border-2 flex flex-col p-2 justify-center items-center">
    <div class="overflow-hidden rounded-xl h-book w-book border-2 select-none">
        <img src="assets/escarboucle bleue.jpg" alt="">
    </div>
    <div class="border-2 w-book overflow-hidden max-h-12 text-ellipsis text-nowrap select-none">
        Title jdf fdjfdfd fjd fdfn fgdfnvdfgd fvzrf jfdzsnf djfndfg jndghsdjfgng dsfgjvngsdfv ds
        <p class="text-sm">Emily St.John</p>
    </div>
    <div class="w-book flex flex-row justify-center rounded-xl">
        <p class="bg-blackprimary rounded-full text-xs font-bold px-2 select-none">Adventure</p>
    </div>
</main>