<main class="flex flex-col w-full h-full overflow-scroll">
    <p class="border-2">New Release</p>
    <div class="flex flex-row w-full h-full border-2 overflow-x-auto">
        <div class="min-w-20% w-20% ">
            <app-single-book-simple/>
        </div>

        <div class="min-w-20% w-20% ">
            <app-single-book-simple/>
        </div>

        <div class="min-w-20% w-20% ">
            <app-single-book-simple/>
        </div>

        <div class="min-w-20% w-20% ">
            <app-single-book-simple/>
        </div>

        <div class="min-w-20% w-20% ">
            <app-single-book-simple/>
        </div>

        <div class="min-w-20% w-20% ">
            <app-single-book-simple/>
        </div>
    </div>
</main>
