<main class="flex flex-col w-full h-full overflow-hidden">
    <p class=" font-bold text-lg items-center">{{ title }}</p>
    <div class="flex flex-row w-full h-full overflow-x-auto items-center">
        <div class="w-fit min-w-fit " [(title)]="book.title">
            <app-single-book-simple/>
        </div>

        <div class="w-fit min-w-fit " [(title)]="book.title">
            <app-single-book-simple/>
        </div>

        <div class="w-fit min-w-fit " [(title)]="book.title">
            <app-single-book-simple/>
        </div>

        <div class="w-fit min-w-fit " [(title)]="book.title">
            <app-single-book-simple/>
        </div>

        <div class="w-fit min-w-fit " [(title)]="book.title">
            <app-single-book-simple/>
        </div>

        <div class="w-fit min-w-fit " [(title)]="book.title">
            <app-single-book-simple/>
        </div>

        <div class="w-fit min-w-fit " [(title)]="book.title">
            <app-single-book-simple/>
        </div>

        <div class="w-fit min-w-fit  " [(title)]="book.title">
            <app-single-book-simple/>
        </div>

        <div class="w-fit min-w-fit  " [(title)]="book.title">
            <app-single-book-simple/>
        </div>

        <div class="w-fit min-w-fit  " [(title)]="book.title">
            <app-single-book-simple/>
        </div>

        <div class="w-fit min-w-fit  " [(title)]="book.title">
            <app-single-book-simple/>
        </div>
    </div>
    
</main>
