<main class="h-full w-90% bg-blackprimary flex flex-col right-0 absolute rounded-l-xl">
    <div class="px-5 pt-5 font-bold text-lg" id="title">
        Famours Author
    </div>
    <div class="p-3 flex flex-col overflow-y-scroll" id="list">
        <div class="flex flex-row items-center cursor-pointer hover:bg-secondary active:bg-thirty p-2 rounded-lg" >
            <img class="w-14 h-14 rounded-full" src="assets/escarboucle bleue.jpg" alt="">
            <div class="flex flex-col ml-2 gap-0.5">
                <p class="font-bold text-sm line-clamp-1">J.K Rowling</p>
                <p class="font-medium text-xs">128 books</p>
            </div>
        </div>
        <div class="flex flex-row items-center cursor-pointer hover:bg-secondary active:bg-thirty p-2 rounded-lg" >
            <img class="w-14 h-14 rounded-full" src="assets/escarboucle bleue.jpg" alt="">
            <div class="flex flex-col ml-2 gap-0.5">
                <p class="font-bold text-sm line-clamp-1">J.K Rowling</p>
                <p class="font-medium text-xs">128 books</p>
            </div>
        </div>
        <div class="flex flex-row items-center cursor-pointer hover:bg-secondary active:bg-thirty p-2 rounded-lg" >
            <img class="w-14 h-14 rounded-full" src="assets/escarboucle bleue.jpg" alt="">
            <div class="flex flex-col ml-2 gap-0.5">
                <p class="font-bold text-sm line-clamp-1">J.K Rowling</p>
                <p class="font-medium text-xs">128 books</p>
            </div>
        </div>
        <div class="flex flex-row items-center cursor-pointer hover:bg-secondary active:bg-thirty p-2 rounded-lg" >
            <img class="w-14 h-14 rounded-full" src="assets/escarboucle bleue.jpg" alt="">
            <div class="flex flex-col ml-2 gap-0.5">
                <p class="font-bold text-sm line-clamp-1">J.K Rowling</p>
                <p class="font-medium text-xs">128 books</p>
            </div>
        </div>
    </div>
</main>
