<main class="w-screen h-screen flex flex-row">

    <section class="relative overflow-hidden flex flex-row justify-center items-center" id="salutation">
        <!-- <img class="min-w-max w-max h-full z-0" src="assets/book.jpeg" alt=""> -->
        <div class="absolute z-10 w-90% h-90% rounded-[40px]">
            <p class="left-0 top-0 ml-4 mt-4">Logo.</p>
        </div>
    </section>

    <section class="" id="form">
        <p>Create Account</p>
        <div class="border-2 p-1" id="name"></div>
        <div class="border-2 p-1" id="email"></div>
        <div class="border-2 p-1" id="password"></div>
        <div class="border-2 p-1" id="accord"></div>
        <div class="border-2 p-1" id="submit"></div>
        <div class="border-2 p-1" id="or"></div>
        <div class="border-2 p-1" id="google"></div>
        <div class="border-2 p-1" id="login"></div>
    </section>

</main>